.themeify.discorded {
  /* Settings dialog icons */
  /*general table hover colour*/
  /* Now non-bordered :) */
}
.themeify.discorded body {
  background-color: #36393f;
  color: #dadadc;
  font-weight: 400;
}
.themeify.discorded a {
  color: #99AAB5;
}
.themeify.discorded a:hover {
  color: #d4dbe0;
}
.themeify.discorded .octoprint-container .tab-content h1 {
  color: #FFFFFF;
}
.themeify.discorded .octoprint-container .tab-content {
  border: none;
}
.themeify.discorded .accordion-group {
  border: none;
}
.themeify.discorded .accordion {
  background-color: #2f3136;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
}
.themeify.discorded .octoprint-container .accordion-heading .accordion-heading-button a {
  color: inherit;
}
.themeify.discorded .nav-tabs > li > a {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.themeify.discorded .nav-tabs > .active > a,
.themeify.discorded .nav-tabs > .active > a:hover {
  background-color: #2f3136;
  color: #fff;
  border: none;
}
.themeify.discorded .nav-pills > .active > a,
.themeify.discorded .nav-pills > .active > a:hover {
  background-color: #7289DA;
}
.themeify.discorded .nav-tabs > li > a:hover {
  background-color: #474a51;
  border: none;
}
.themeify.discorded h1,
.themeify.discorded h2,
.themeify.discorded h3,
.themeify.discorded h4 {
  color: #FFFFFF;
}
.themeify.discorded .btn {
  border-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-image: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: none;
  background-color: #36393f;
  color: #fff;
  font-weight: 400;
  text-shadow: none;
}
.themeify.discorded .btn:hover {
  color: #fff;
  background-color: #474a51;
}
.themeify.discorded .btn:focus {
  border-color: rgba(255, 255, 255, 0.7);
  background-color: #474a51;
  outline-color: #dadadc;
  outline-width: 2px;
  color: #fff;
}
.themeify.discorded .btn:active {
  background-color: #5e626d;
}
.themeify.discorded .btn.active {
  background-color: #5e626d;
  border: 1px solid rgba(255, 255, 255, 0.85);
  color: #fff;
}
.themeify.discorded .btn btn-primary,
.themeify.discorded .btn-primary[disabled] {
  background-color: #7289DA;
}
.themeify.discorded .btn-primary {
  background-color: #7289DA;
  border: none;
}
.themeify.discorded .btn-primary:hover {
  background-color: #5e78d5;
}
.themeify.discorded .btn-primary:active,
.themeify.discorded .btn-primary:focus {
  background-color: #526ed2;
}
.themeify.discorded .btn-primary.disabled,
.themeify.discorded .btn-primary[disabled] {
  background-color: #5e78d5;
}
.themeify.discorded .btn-group.open .btn-primary.dropdown-toggle {
  box-shadow: none;
  background-color: #4a67cf;
}
.themeify.discorded .btn-group.open .btn.dropdown-toggle {
  background: #36393f;
}
.themeify.discorded .btn-group.open .btn.dropdown-toggle:active,
.themeify.discorded .btn-group.open .btn.dropdown-toggle:focus {
  background: #36393f;
  color: #fff;
}
.themeify.discorded .btn.disabled,
.themeify.discorded .btn[disabled] {
  background-color: #595e68;
  color: #cdcdd0;
}
.themeify.discorded .btn.disabled:hover,
.themeify.discorded .btn[disabled]:hover {
  color: #cdcdd0;
}
.themeify.discorded select,
.themeify.discorded textarea,
.themeify.discorded input[type="search"],
.themeify.discorded input[type="text"],
.themeify.discorded input[type="number"],
.themeify.discorded .input-append .add-on,
.themeify.discorded textarea,
.themeify.discorded input[type="password"],
.themeify.discorded input[type="datetime"],
.themeify.discorded input[type="datetime-local"],
.themeify.discorded input[type="date"],
.themeify.discorded input[type="month"],
.themeify.discorded input[type="time"],
.themeify.discorded input[type="week"],
.themeify.discorded input[type="number"],
.themeify.discorded input[type="email"],
.themeify.discorded input[type="url"],
.themeify.discorded input[type="search"],
.themeify.discorded input[type="tel"],
.themeify.discorded input[type="color"],
.themeify.discorded .uneditable-input {
  background-color: #656b76;
  border: none;
  color: #e7e7e8;
  text-shadow: none;
  padding-bottom: 6px;
}
.themeify.discorded textarea:focus,
.themeify.discorded input[type="text"]:focus,
.themeify.discorded input[type="password"]:focus,
.themeify.discorded input[type="datetime"]:focus,
.themeify.discorded input[type="datetime-local"]:focus,
.themeify.discorded input[type="date"]:focus,
.themeify.discorded input[type="month"]:focus,
.themeify.discorded input[type="time"]:focus,
.themeify.discorded input[type="week"]:focus,
.themeify.discorded input[type="number"]:focus,
.themeify.discorded input[type="email"]:focus,
.themeify.discorded input[type="url"]:focus,
.themeify.discorded input[type="search"]:focus,
.themeify.discorded input[type="tel"]:focus,
.themeify.discorded input[type="color"]:focus,
.themeify.discorded .uneditable-input:focus {
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.5);
}
.themeify.discorded .input-append .add-on,
.themeify.discorded .input-prepend .add-on {
  padding-bottom: 6px;
}
.themeify.discorded .input-prepend .add-on.add-on-limited {
  background-color: #656b76;
  color: #e7e7e8;
  border: none;
  text-shadow: none;
}
.themeify.discorded .slider .slider-selection {
  background: #7289DA;
}
.themeify.discorded .slider .slider-selection:hover,
.themeify.discorded .slider .slider-selection:active {
  background-color: #5e78d5;
}
.themeify.discorded .octoprint-container .accordion-heading [class*=" icon-"] {
  color: #dadadc;
}
.themeify.discorded .octoprint-container .accordion-heading [class*=" icon-"]:hover {
  color: #fff;
}
.themeify.discorded .octoprint-container .accordion-heading [class*=" icon-"].disabled {
  color: #595e68;
}
.themeify.discorded td.settings_printerProfiles_profiles_action a,
.themeify.discorded th.settings_printerProfiles_profiles_action a,
.themeify.discorded td.settings_plugin_plugin_manager_plugins_actions a,
.themeify.discorded th.settings_plugin_plugin_manager_plugins_actions a,
.themeify.discorded td.settings_plugin_announcements_channels_actions a,
.themeify.discorded th.settings_plugin_announcements_channels_actions a,
.themeify.discorded td.settings_logs_action a,
.themeify.discorded th.settings_logs_action a,
.themeify.discorded td.settings_users_actions a,
.themeify.discorded th.settings_users_actions a {
  color: #dadadc;
}
.themeify.discorded td.settings_printerProfiles_profiles_action a:hover,
.themeify.discorded th.settings_printerProfiles_profiles_action a:hover,
.themeify.discorded td.settings_plugin_plugin_manager_plugins_actions a:hover,
.themeify.discorded th.settings_plugin_plugin_manager_plugins_actions a:hover,
.themeify.discorded td.settings_plugin_announcements_channels_actions a:hover,
.themeify.discorded th.settings_plugin_announcements_channels_actions a:hover,
.themeify.discorded td.settings_logs_action a:hover,
.themeify.discorded th.settings_logs_action a:hover,
.themeify.discorded td.settings_users_actions a:hover,
.themeify.discorded th.settings_users_actions a:hover {
  color: #fff;
}
.themeify.discorded td.settings_printerProfiles_profiles_action a.disabled,
.themeify.discorded th.settings_printerProfiles_profiles_action a.disabled,
.themeify.discorded td.settings_plugin_plugin_manager_plugins_actions a.disabled,
.themeify.discorded th.settings_plugin_plugin_manager_plugins_actions a.disabled,
.themeify.discorded td.settings_plugin_announcements_channels_actions a.disabled,
.themeify.discorded th.settings_plugin_announcements_channels_actions a.disabled,
.themeify.discorded td.settings_logs_action a.disabled,
.themeify.discorded th.settings_logs_action a.disabled,
.themeify.discorded td.settings_users_actions a.disabled,
.themeify.discorded th.settings_users_actions a.disabled {
  color: #595e68;
}
.themeify.discorded td i,
.themeify.discorded th i {
  color: #dadadc;
}
.themeify.discorded td i:hover,
.themeify.discorded th i:hover {
  color: #fff;
}
.themeify.discorded td i.disabled,
.themeify.discorded th i.disabled {
  color: #595e68;
}
.themeify.discorded .icon-sd-black-14 {
  background-image: url(../img/ic_sd_card_white_18dp_1x.png);
  background-image: url(../img/ic_sd_card_white_18px.svg);
  background-position: 0 0px;
  margin-top: 1px;
  width: 15px;
  height: 17px;
  filter: hue-rotate(240deg) saturate(2.77777778%) brightness(85.88235294%);
  transform: rotateY(180deg);
}
.themeify.discorded .progress .bar {
  background: #7289DA;
}
.themeify.discorded #navbar .navbar-inner {
  background-color: #2f3136;
  border: none;
  background-image: none;
}
.themeify.discorded #navbar .navbar-inner .nav > li.dropdown.open > .dropdown-toggle,
.themeify.discorded #navbar .navbar-inner .nav > li.dropdown.active > .dropdown-toggle,
.themeify.discorded #navbar .navbar-inner .nav > li.dropdown.open.active > .dropdown-toggle {
  background: #2d2f33;
  border-bottom: 1px solid #dadadc;
  color: #fff;
}
.themeify.discorded #navbar .navbar-inner .nav > li > a:hover {
  color: #fff;
  background: #474a51;
}
.themeify.discorded #navbar .navbar-inner .brand,
.themeify.discorded #navbar .navbar-inner .nav > li > a {
  color: #fff;
}
.themeify.discorded .dropdown-menu {
  background: #2f3136;
}
.themeify.discorded .dropdown-menu li > a {
  color: #dadadc;
}
.themeify.discorded .dropdown-menu li > a:hover,
.themeify.discorded .dropdown-menu li > a:focus {
  background: #474a51;
  outline: none;
}
.themeify.discorded #files .gcode_files .entry:hover,
.themeify.discorded .table-hover tbody tr:hover td,
.themeify.discorded .table-hover tbody tr:hover th {
  background-color: #474a51;
}
.themeify.discorded .legend > table {
  color: #dadadc !important;
}
.themeify.discorded .progress {
  background: #656b76;
}
.themeify.discorded .table-bordered,
.themeify.discorded .table-striped {
  border-color: #656b76;
  border: none;
}
.themeify.discorded .table-bordered th,
.themeify.discorded .table-striped th,
.themeify.discorded .table-bordered td,
.themeify.discorded .table-striped td {
  border-color: #656b76;
  border-left: none;
  border-right: none;
}
.themeify.discorded .table-striped tbody > tr:nth-child(odd) > td,
.themeify.discorded .table-striped tbody th {
  background-color: #36393f;
}
.themeify.discorded .modal {
  background-color: #36393f;
}
.themeify.discorded .modal-body {
  border: none;
}
.themeify.discorded .modal-footer,
.themeify.discorded .modal-header {
  background-color: #2f3136;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.themeify.discorded .nav-list > li > a {
  text-shadow: none;
}
.themeify.discorded .nav-list > li > a:hover {
  color: #fff;
  background: #474a51;
}
.themeify.discorded .nav-list .nav-header {
  text-shadow: none;
}
.themeify.discorded .nav-list > .active > a {
  background-color: #2f3136;
}
.themeify.discorded .nav-list > .active > a:hover {
  background-color: #2f3136;
}
.themeify.discorded .close {
  color: #fff;
  text-shadow: none;
}
.themeify.discorded .help-inline,
.themeify.discorded .help-block {
  color: #b3b3b7;
}
.themeify.discorded code {
  background-color: #656b76;
  border: none;
}
.themeify.discorded .label,
.themeify.discorded .badge {
  background-color: #656b76;
  color: #dadadc;
  text-shadow: none;
}
.themeify.discorded .scrollable::-webkit-scrollbar,
.themeify.discorded .pre-scrollable::-webkit-scrollbar,
.themeify.discorded body::-webkit-scrollbar {
  background-color: #36393f;
}
.themeify.discorded .scrollable::-webkit-scrollbar-thumb,
.themeify.discorded .pre-scrollable::-webkit-scrollbar-thumb,
.themeify.discorded body::-webkit-scrollbar-thumb {
  background-color: #2a2d31;
  border-radius: 25px;
}
.themeify.discorded .scrollable::-webkit-scrollbar-track,
.themeify.discorded .pre-scrollable::-webkit-scrollbar-track,
.themeify.discorded body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(47, 49, 54, 0.5);
}
.themeify.discorded legend {
  color: inherit;
}
.themeify.discorded .hero-unit {
  background-color: #36393f;
}
.themeify.discorded .footer ul li a {
  color: #999;
}
.themeify.discorded .flot-text {
  color: #dadadc !important;
}
.themeify.discorded #terminal-output {
  background-color: #656b76;
  color: #dadadc;
}
.themeify.discorded .pagination-mini ul > li > a {
  background-color: #36393f;
  color: #dadadc;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.themeify.discorded .pagination-mini ul > li > a:hover {
  color: #fff;
  background: #474a51;
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.themeify.discorded .pagination-mini ul > li > a:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.themeify.discorded .pagination ul > li > a:hover,
.themeify.discorded .pagination ul > .active > a {
  background-color: #2f3136;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.85);
}
.themeify.discorded .nav .dropdown-toggle .caret {
  border-top-color: #dadadc;
  border-bottom-color: #dadadc;
}
.themeify.discorded input[disabled],
.themeify.discorded select[disabled],
.themeify.discorded textarea[disabled],
.themeify.discorded input[readonly],
.themeify.discorded select[readonly],
.themeify.discorded textarea[readonly] {
  background-color: #595e68;
  color: #c0c0c3;
}
.themeify.discorded .modal-backdrop,
.themeify.discorded .modal-backdrop.fade.in {
  background: #000;
}
.themeify.discorded .alert h1,
.themeify.discorded .alert h2,
.themeify.discorded .alert h3,
.themeify.discorded .alert h4,
.themeify.discorded .alert h5,
.themeify.discorded .alert h6 {
  color: inherit;
}
.themeify.material_ui_light .btn {
  background: white;
  filter: brightness(1);
  border-radius: 3px;
}
.themeify.material_ui_light .btn,
.themeify.material_ui_light .btn:focus,
.themeify.material_ui_light .btn:hover {
  transition: filter 0.2s ease, background-color 0.2s ease;
}
.themeify.material_ui_light .btn.active,
.themeify.material_ui_light .btn.disabled,
.themeify.material_ui_light .btn:active,
.themeify.material_ui_light .btn:focus,
.themeify.material_ui_light .btn:hover,
.themeify.material_ui_light .btn[disabled] {
  filter: brightness(0.9);
}
.themeify.material_ui_light .btn,
.themeify.material_ui_light .btn.active,
.themeify.material_ui_light .btn:active,
.themeify.material_ui_light .btn-group {
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.47);
}
.themeify.material_ui_light .btn-group .btn {
  box-shadow: none;
}
.themeify.material_ui_light .dropdown-backdrop {
  display: none;
}
.themeify.material_ui_light .btn-group > .btn + .dropdown-backdrop + .dropdown-toggle,
.themeify.material_ui_light .btn-group > .btn + .dropdown-toggle {
  padding-right: 8px;
  padding-left: 8px;
}
.themeify.material_ui_light .progress {
  background: rgba(0, 0, 0, 0.07);
  box-shadow: none;
}
.themeify.material_ui_light .progress .bar {
  background: #2196F3;
  box-shadow: none;
  border: 0;
}
.themeify.material_ui_light .btn,
.themeify.material_ui_light .input-append .add-on,
.themeify.material_ui_light .input-prepend .add-on,
.themeify.material_ui_light textarea,
.themeify.material_ui_light input[type="text"],
.themeify.material_ui_light input[type="password"],
.themeify.material_ui_light input[type="datetime"],
.themeify.material_ui_light input[type="datetime-local"],
.themeify.material_ui_light input[type="date"],
.themeify.material_ui_light input[type="month"],
.themeify.material_ui_light input[type="time"],
.themeify.material_ui_light input[type="week"],
.themeify.material_ui_light input[type="number"],
.themeify.material_ui_light input[type="email"],
.themeify.material_ui_light input[type="url"],
.themeify.material_ui_light input[type="search"],
.themeify.material_ui_light input[type="tel"],
.themeify.material_ui_light input[type="color"],
.themeify.material_ui_light .uneditable-input,
.themeify.material_ui_light textarea:focus,
.themeify.material_ui_light input[type="text"]:focus,
.themeify.material_ui_light input[type="password"]:focus,
.themeify.material_ui_light input[type="datetime"]:focus,
.themeify.material_ui_light input[type="datetime-local"]:focus,
.themeify.material_ui_light input[type="date"]:focus,
.themeify.material_ui_light input[type="month"]:focus,
.themeify.material_ui_light input[type="time"]:focus,
.themeify.material_ui_light input[type="week"]:focus,
.themeify.material_ui_light input[type="number"]:focus,
.themeify.material_ui_light input[type="email"]:focus,
.themeify.material_ui_light input[type="url"]:focus,
.themeify.material_ui_light input[type="search"]:focus,
.themeify.material_ui_light input[type="tel"]:focus,
.themeify.material_ui_light input[type="color"]:focus,
.themeify.material_ui_light .uneditable-input:focus {
  text-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.31);
}
.themeify.material_ui_light .btn-primary,
.themeify.material_ui_light .btn-primary.active,
.themeify.material_ui_light .btn-primary.disabled,
.themeify.material_ui_light .btn-primary:active,
.themeify.material_ui_light .btn-primary:focus,
.themeify.material_ui_light .btn-primary:hover,
.themeify.material_ui_light .btn-primary[disabled] {
  color: #fff;
  background-color: #2196F3;
}
.themeify.material_ui_light .btn-danger,
.themeify.material_ui_light .btn-danger.active,
.themeify.material_ui_light .btn-danger.disabled,
.themeify.material_ui_light .btn-danger:active,
.themeify.material_ui_light .btn-danger:focus,
.themeify.material_ui_light .btn-danger:hover,
.themeify.material_ui_light .btn-danger[disabled] {
  background-color: #F44336;
}
.themeify.material_ui_light .btn-warning,
.themeify.material_ui_light .btn-warning.active,
.themeify.material_ui_light .btn-warning.disabled,
.themeify.material_ui_light .btn-warning:active,
.themeify.material_ui_light .btn-warning:focus,
.themeify.material_ui_light .btn-warning:hover,
.themeify.material_ui_light .btn-warning[disabled] {
  background-color: #FF9800;
}
.themeify.material_ui_light .dropdown-menu li > a:hover,
.themeify.material_ui_light .dropdown-menu li > a:focus,
.themeify.material_ui_light .dropdown-submenu:hover > a {
  background: #2196F3;
}
.themeify.material_ui_light .dropdown-menu {
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 3px;
}
.themeify.material_ui_light .accordion-group {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
}
.themeify.material_ui_light .tab-content {
  border-radius: 0 0 4px 4px;
}
.themeify.material_ui_light .accordion-group,
.themeify.material_ui_light .tab-content {
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.32);
  background: white;
  margin-bottom: 10px;
}
.themeify.material_ui_light textarea:focus,
.themeify.material_ui_light input[type="text"]:focus,
.themeify.material_ui_light input[type="password"]:focus,
.themeify.material_ui_light input[type="datetime"]:focus,
.themeify.material_ui_light input[type="datetime-local"]:focus,
.themeify.material_ui_light input[type="date"]:focus,
.themeify.material_ui_light input[type="month"]:focus,
.themeify.material_ui_light input[type="time"]:focus,
.themeify.material_ui_light input[type="week"]:focus,
.themeify.material_ui_light input[type="number"]:focus,
.themeify.material_ui_light input[type="email"]:focus,
.themeify.material_ui_light input[type="url"]:focus,
.themeify.material_ui_light input[type="search"]:focus,
.themeify.material_ui_light input[type="tel"]:focus,
.themeify.material_ui_light input[type="color"]:focus,
.themeify.material_ui_light .uneditable-input:focus {
  background: white;
  box-shadow: none !important;
  border-color: #2196F3;
}
.themeify.material_ui_light .slider .slider-track {
  box-shadow: none;
}
.themeify.material_ui_light .slider .slider-selection {
  background: #2196F3;
  border: none;
  box-shadow: none;
}
.themeify.material_ui_light .nav > li > a {
  color: inherit;
}
.themeify.material_ui_light .legendColorBox > div {
  border-radius: 50%;
  padding: 0 !important;
  border: 0 !important;
}
.themeify.material_ui_light .legendColorBox > div > div {
  border-radius: 50%;
  width: 0px !important;
  height: 0px !important;
  padding: 0 !important;
}
.themeify.material_ui_light #navbar .navbar-inner {
  background-image: none !important;
  box-shadow: 0px 0px 15px black !important;
  border: none !important;
}
.themeify.material_ui_light #navbar .navbar-inner .nav > li > a:hover {
  background: rgba(128, 128, 128, 0.5) !important;
}
.themeify.material_ui_light #navbar .navbar-inner .brand,
.themeify.material_ui_light #navbar .navbar-inner .nav > li > a {
  text-shadow: none !important;
}
.themeify.material_ui_light .navbar .brand {
  text-shadow: none !important;
}
.themeify.material_ui_light #navbar .navbar-inner .nav > li.dropdown.active > .dropdown-toggle,
.themeify.material_ui_light #navbar .navbar-inner .nav > li.dropdown.open.active > .dropdown-toggle,
.themeify.material_ui_light #navbar .navbar-inner .nav > li.dropdown.open > .dropdown-toggle {
  background: rgba(255, 255, 255, 0.3) !important;
}
.themeify.material_ui_light .modal.fade {
  box-shadow: 0 30px 50px -30px rgba(0, 0, 0, 0.76) !important;
  border: 0 !important;
}
.themeify.material_ui_light .nav-list > .active > a,
.themeify.material_ui_light .nav-list > .active > a:hover {
  background-color: #2196F3;
}
.themeify.material_ui_light .modal-footer {
  border: 0;
}
.themeify.material_ui_light textarea,
.themeify.material_ui_light input[type="text"],
.themeify.material_ui_light input[type="password"],
.themeify.material_ui_light input[type="datetime"],
.themeify.material_ui_light input[type="datetime-local"],
.themeify.material_ui_light input[type="date"],
.themeify.material_ui_light input[type="month"],
.themeify.material_ui_light input[type="time"],
.themeify.material_ui_light input[type="week"],
.themeify.material_ui_light input[type="number"],
.themeify.material_ui_light input[type="email"],
.themeify.material_ui_light input[type="url"],
.themeify.material_ui_light input[type="search"],
.themeify.material_ui_light input[type="tel"],
.themeify.material_ui_light input[type="color"],
.themeify.material_ui_light .uneditable-input {
  box-shadow: none;
}
.themeify.material_ui_light .modal-backdrop,
.themeify.material_ui_light .modal-backdrop.fade.in {
  background: black;
}
.themeify.material_ui_light #temperature-graph {
  background-image: none !important;
}
