.themeify {
  /*general table hover colour*/
  /* Now non-bordered :) */
}
.themeify body {
  background-color: #36393f;
  color: #dadadc;
  font-weight: 400;
}
.themeify a {
  color: #99AAB5;
}
.themeify a:hover {
  color: #d4dbe0;
}
.themeify .octoprint-container .tab-content h1 {
  color: #FFFFFF;
}
.themeify .octoprint-container .tab-content {
  border: none;
}
.themeify .accordion-group {
  border: none;
}
.themeify .accordion {
  background-color: #2f3136;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
}
.themeify .octoprint-container .accordion-heading .accordion-heading-button a {
  color: inherit;
}
.themeify .nav-tabs > li > a {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.themeify .nav-tabs > .active > a,
.themeify .nav-tabs > .active > a:hover {
  background-color: #2f3136;
  color: #fff;
  border: none;
}
.themeify .nav-pills > .active > a,
.themeify .nav-pills > .active > a:hover {
  background-color: #7289DA;
}
.themeify .nav-tabs > li > a:hover {
  background-color: #474a51;
  border: none;
}
.themeify h1,
.themeify h2,
.themeify h3,
.themeify h4 {
  color: #FFFFFF;
}
.themeify .btn {
  border-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-image: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: none;
  background-color: #36393f;
  color: #fff;
  font-weight: 400;
  text-shadow: none;
}
.themeify .btn:hover {
  color: #fff;
  background-color: #474a51;
}
.themeify .btn:focus {
  border-color: rgba(255, 255, 255, 0.7);
  background-color: #474a51;
  outline-color: #dadadc;
  outline-width: 2px;
  color: #fff;
}
.themeify .btn:active {
  background-color: #5e626d;
}
.themeify .btn.active {
  background-color: #5e626d;
  border: 1px solid rgba(255, 255, 255, 0.85);
  color: #fff;
}
.themeify .btn btn-primary,
.themeify .btn-primary[disabled] {
  background-color: #7289DA;
}
.themeify .btn-primary {
  background-color: #7289DA;
  border: none;
}
.themeify .btn-primary:hover {
  background-color: #5e78d5;
}
.themeify .btn-primary:active,
.themeify .btn-primary:focus {
  background-color: #526ed2;
}
.themeify .btn-primary.disabled,
.themeify .btn-primary[disabled] {
  background-color: #5e78d5;
}
.themeify .btn-group.open .btn-primary.dropdown-toggle {
  box-shadow: none;
  background-color: #4a67cf;
}
.themeify .btn-group.open .btn.dropdown-toggle {
  background: #36393f;
}
.themeify .btn-group.open .btn.dropdown-toggle:active,
.themeify .btn-group.open .btn.dropdown-toggle:focus {
  background: #36393f;
  color: #fff;
}
.themeify .btn.disabled,
.themeify .btn[disabled] {
  background-color: #595e68;
  color: #cdcdd0;
}
.themeify .btn.disabled:hover,
.themeify .btn[disabled]:hover {
  color: #cdcdd0;
}
.themeify select,
.themeify textarea,
.themeify input[type="search"],
.themeify input[type="text"],
.themeify input[type="number"],
.themeify .input-append .add-on,
.themeify textarea,
.themeify input[type="password"],
.themeify input[type="datetime"],
.themeify input[type="datetime-local"],
.themeify input[type="date"],
.themeify input[type="month"],
.themeify input[type="time"],
.themeify input[type="week"],
.themeify input[type="number"],
.themeify input[type="email"],
.themeify input[type="url"],
.themeify input[type="search"],
.themeify input[type="tel"],
.themeify input[type="color"],
.themeify .uneditable-input {
  background-color: #656b76;
  border: none;
  color: #e7e7e8;
  text-shadow: none;
  padding-bottom: 6px;
}
.themeify textarea:focus,
.themeify input[type="text"]:focus,
.themeify input[type="password"]:focus,
.themeify input[type="datetime"]:focus,
.themeify input[type="datetime-local"]:focus,
.themeify input[type="date"]:focus,
.themeify input[type="month"]:focus,
.themeify input[type="time"]:focus,
.themeify input[type="week"]:focus,
.themeify input[type="number"]:focus,
.themeify input[type="email"]:focus,
.themeify input[type="url"]:focus,
.themeify input[type="search"]:focus,
.themeify input[type="tel"]:focus,
.themeify input[type="color"]:focus,
.themeify .uneditable-input:focus {
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.5);
}
.themeify .input-append .add-on,
.themeify .input-prepend .add-on {
  padding-bottom: 6px;
}
.themeify .input-prepend .add-on.add-on-limited {
  background-color: #656b76;
  color: #e7e7e8;
  border: none;
  text-shadow: none;
}
.themeify .slider .slider-selection {
  background: #7289DA;
}
.themeify .slider .slider-selection:hover,
.themeify .slider .slider-selection:active {
  background-color: #5e78d5;
}
.themeify .octoprint-container .accordion-heading [class*=" icon-"],
.themeify table td.settings_printerProfiles_profiles_action a,
.themeify table th.settings_printerProfiles_profiles_action a,
.themeify table th.settings_plugin_plugin_manager_plugins_actions a,
.themeify table td.settings_plugin_plugin_manager_plugins_actions a {
  color: #dadadc;
}
.themeify .octoprint-container .accordion-heading [class*=" icon-"]:hover,
.themeify table td.settings_printerProfiles_profiles_action a:hover,
.themeify table th.settings_printerProfiles_profiles_action a:hover,
.themeify table th.settings_plugin_plugin_manager_plugins_actions a:hover,
.themeify table td.settings_plugin_plugin_manager_plugins_actions a:hover {
  color: #fff;
}
.themeify .octoprint-container .accordion-heading [class*=" icon-"].disabled,
.themeify table td.settings_printerProfiles_profiles_action a.disabled,
.themeify table th.settings_printerProfiles_profiles_action a.disabled,
.themeify table th.settings_plugin_plugin_manager_plugins_actions a.disabled,
.themeify table td.settings_plugin_plugin_manager_plugins_actions a.disabled {
  color: #595e68;
}
.themeify .icon-sd-black-14 {
  background-image: url(../img/ic_sd_card_white_18dp_1x.png);
  background-image: url(../img/ic_sd_card_white_18px.svg);
  background-position: 0 0px;
  margin-top: 1px;
  width: 15px;
  height: 17px;
  filter: hue-rotate(240deg) saturate(2.77777778%) brightness(85.88235294%);
  transform: rotateY(180deg);
}
.themeify .progress .bar {
  background: #7289DA;
}
.themeify #navbar .navbar-inner {
  background-color: #2f3136;
  border: none;
  background-image: none;
}
.themeify #navbar .navbar-inner .nav > li.dropdown.open > .dropdown-toggle,
.themeify #navbar .navbar-inner .nav > li.dropdown.active > .dropdown-toggle,
.themeify #navbar .navbar-inner .nav > li.dropdown.open.active > .dropdown-toggle {
  background: #2d2f33;
  border-bottom: 1px solid #dadadc;
  color: #fff;
}
.themeify #navbar .navbar-inner .nav > li > a:hover {
  color: #fff;
  background: #474a51;
}
.themeify #navbar .navbar-inner .brand,
.themeify #navbar .navbar-inner .nav > li > a {
  color: #fff;
}
.themeify .dropdown-menu {
  background: #2f3136;
}
.themeify .dropdown-menu li > a {
  color: #dadadc;
}
.themeify .dropdown-menu li > a:hover,
.themeify .dropdown-menu li > a:focus {
  background: #474a51;
  outline: none;
}
.themeify #files .gcode_files .entry:hover,
.themeify .table-hover tbody tr:hover td,
.themeify .table-hover tbody tr:hover th {
  background-color: #474a51;
}
.themeify .legend > table {
  color: #dadadc !important;
}
.themeify .progress {
  background: #656b76;
}
.themeify .table-bordered,
.themeify .table-striped {
  border-color: #656b76;
  border: none;
}
.themeify .table-bordered th,
.themeify .table-striped th,
.themeify .table-bordered td,
.themeify .table-striped td {
  border-color: #656b76;
  border-left: none;
  border-right: none;
}
.themeify .table-striped tbody > tr:nth-child(odd) > td,
.themeify .table-striped tbody th {
  background-color: #36393f;
}
.themeify .modal {
  background-color: #36393f;
}
.themeify .modal-body {
  border: none;
}
.themeify .modal-footer,
.themeify .modal-header {
  background-color: #2f3136;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.themeify .nav-list > li > a {
  text-shadow: none;
}
.themeify .nav-list > li > a:hover {
  color: #fff;
  background: #474a51;
}
.themeify .nav-list .nav-header {
  text-shadow: none;
}
.themeify .nav-list > .active > a {
  background-color: #2f3136;
}
.themeify .nav-list > .active > a:hover {
  background-color: #2f3136;
}
.themeify .close {
  color: #fff;
  text-shadow: none;
}
.themeify .help-inline,
.themeify .help-block {
  color: #b3b3b7;
}
.themeify code {
  background-color: #656b76;
  border: none;
}
.themeify .label,
.themeify .badge {
  background-color: #656b76;
  color: #dadadc;
  text-shadow: none;
}
.themeify .scrollable::-webkit-scrollbar,
.themeify .pre-scrollable::-webkit-scrollbar,
.themeify body::-webkit-scrollbar {
  background-color: #36393f;
}
.themeify .scrollable::-webkit-scrollbar-thumb,
.themeify .pre-scrollable::-webkit-scrollbar-thumb,
.themeify body::-webkit-scrollbar-thumb {
  background-color: #2a2d31;
  border-radius: 25px;
}
.themeify .scrollable::-webkit-scrollbar-track,
.themeify .pre-scrollable::-webkit-scrollbar-track,
.themeify body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(47, 49, 54, 0.5);
}
.themeify legend {
  color: inherit;
}
.themeify .hero-unit {
  background-color: #36393f;
}
.themeify .footer ul li a {
  color: #999;
}
.themeify .flot-text {
  color: #dadadc !important;
}
.themeify #terminal-output {
  background-color: #656b76;
  color: #dadadc;
}
.themeify .pagination-mini ul > li > a {
  background-color: #36393f;
  color: #dadadc;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.themeify .pagination-mini ul > li > a:hover {
  color: #fff;
  background: #474a51;
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.themeify .pagination-mini ul > li > a:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.themeify .pagination ul > li > a:hover,
.themeify .pagination ul > .active > a {
  background-color: #2f3136;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.85);
}
.themeify .nav .dropdown-toggle .caret {
  border-top-color: #dadadc;
  border-bottom-color: #dadadc;
}
.themeify input[disabled],
.themeify select[disabled],
.themeify textarea[disabled],
.themeify input[readonly],
.themeify select[readonly],
.themeify textarea[readonly] {
  background-color: #595e68;
  color: #c0c0c3;
}
.themeify .modal-backdrop,
.themeify .modal-backdrop.fade.in {
  background: #000;
}
.themeify .alert h1,
.themeify .alert h2,
.themeify .alert h3,
.themeify .alert h4,
.themeify .alert h5,
.themeify .alert h6 {
  color: inherit;
}
